.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: rgb(237, 87, 6);
}
.off {
  color: rgb(214, 214, 214);
}
